
<!-- We use partial to render each user div -->

    <aside class="col-md-6">
        <section class="user_info">
            <h1>
            <%= gravatar_for user %>
             <%= link_to user.name, user %> <br>
            <p> <small> <%= user.email %> </small> </p>
            </h1>

             <!-- why don't we show this iff the current user is logged in -->
             <% if logged_in? && current_user.id == user.id %>
                <%= link_to "Edit", edit_user_path(user), class: "btn btn-success" %>
             <% end %>
             <% if logged_in? && current_user.admin? %>
                 <%= link_to "Delete", user, method: :delete, data: { confirm: "you sure?"}, class: "btn btn-danger" %>
             <% end %>

        </section>
    </aside>
